  .twlist {
    font-size: 1.2em; 
  }
  
  .item {
      position: relative;
      text-align:left; 
      background-color: #25E5B5;                              
      border-radius: 5px;
  }

  .item .text {
      width:80%;
  }

  .twbutton {
      position: absolute;
      top:13%;
      left:80%;
      width:20%;
      height:75%;  
      background:transparent url('app/images/ic_select_black_24px.svg') center top no-repeat;
      background-size: 100% 100%;                
  }

  .twbutton:hover {
      background:transparent url('app/images/ic_select-done_black_24px.svg') center top no-repeat;   
      background-size: 100% 100%;                            
  }

  @media only screen and (orientation: landscape)  { 
          .item {
              height: 15vh; 
              padding: 2vh;
              width:47%;
              margin-bottom: 2vh;
          }

          .left { 
                  float:left;
                  margin-right: 1%; 
          }                 
          .right { 
                  float:right;   
          }

          .row {  
              width:100%;
              clear: both; 
          }   
  
  } 
  @media only screen and (orientation: portrait)  { 
        .item {
              padding: 1vh;
              height: 10vh; 
              width:98%;
              margin: auto;
              margin-bottom: 2vh;
          }
  } 