  /* Mobile = 360 x 640 */
  @media (orientation: portrait){
    .play, .answer, .next {
        padding-bottom: 0;
        height: 31%;
    }

    .play {
      background-color: #25E5B5; /* Blue */
        margin-top: 1%;
        margin-bottom: 3%;
     }

    .answer {
      background-color: #A965CA; /* Purple */
      margin-bottom: 3%;
    }

    .next {
      background-color: #9ACC00; /* Green / lime*/
    }
  }

  @media (orientation: landscape) {
    .play, .answer, .next {
        float: left;
        padding-bottom: 0;
        width: 31.33%;
        height: 98%;
    }

    .play {
        background-color: #25E5B5; /* Blue */
        margin-right: 3%;
     }

    .answer {
        background-color: #A965CA; /* Purple */
        margin-right: 3%;
    }

    .next {
        background-color: #9ACC00; /* Green / lime*/
        margin-right: 0;
    }
  }
